<div class="container-fluid default-dashboard">
  <div class="row">
    <div class="col-xxl-4 col-xl-100 box-col-12 ps-4 pe-4 left-background">
      <div class="row bg-light h-100 p-3 pt-4 pb-4">
        <div class="col-12 col-xl-50 box-col-6">
          <app-view-profile />
        </div>
        <div class="col-12 col-xl-50 box-col-6">
          <div class="row">
            <div class="col-12 col-lg-12 col-md-6 box-col-12">
              <app-total-earning />
            </div>
            <div class="col-12 col-lg-12 col-md-6 box-col-12">
              <app-total-expense />
            </div>
          </div>
        </div>
        <div class="col-xl-12 col-xl-50 col-md-6 box-col-6">
          <app-news-update />
        </div>
        <div class="col-xl-12 col-xl-50 col-md-6 box-col-6">
          <app-product-stock />
        </div>
      </div>
    </div>
    <div class="col-xl-8 col-xl-100 box-col-12">
      <div class="row">
        <div class="col-xxl-8 col-xl-100 box-col-12 proorder-xl-1">
          <app-recent-order />
        </div>
        <div class="col-xl-4 col-xl-50 col-md-6 box-col-6 proorder-xl-6">
          <app-sales-statistic />
        </div>
        <app-trading-section />
        <div class="col-xxl-3 col-xl-50 col-md-6 box-col-6 proorder-xl-7">
          <app-review />
        </div>
        <div class="col-xxl-9 col-xl-100 box-col-12 proorder-xl-8">
          <app-sales-overview />
        </div>
        <div class="row proorder-xl-9 pe-0">
          <div class="col-xl-8 col-xl-100 col-md-12">
            <div class="row">
              <div class="col-xxl-7 col-xl-50 col-md-6">
                <app-active-tasks />
              </div>
              <div class="col-xxl-5 col-xl-50 col-md-6">
                <app-total-investment />
              </div>
              <div class="col-xxl-12">
                <app-leads-status />
              </div>
            </div>
          </div>
          <div class="col-xl-4 col-xl-100 col-md-12 pe-0">
            <div class="row">
              <div class="col-xl-12 col-md-6 notification-card">
                <app-notifications />
              </div>
              <div class="col-xl-12 col-md-6 pe-0">
                <app-statistics />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
