<div class="card">
  <div class="card-header card-no-border pb-0">
    <h3>large Edges Button group</h3>
  </div>
  <div class="card-body btn-group-showcase">
    <div class="row">
      @for (button of largedgebuttongroup; track button) {
      <div class="col-xl-4 col-md-6 col-sm-12">
        <div
          class="btn-group btn-group-pill"
          role="group"
          aria-label="Basic example"
        >
          @for (buttonsitem of button.item; track buttonsitem) {
          <button class="btn {{ buttonsitem.class }} btn-lg" type="button">
            {{ buttonsitem.text }}
          </button>
          }
        </div>
      </div>
      }
    </div>
  </div>
</div>
