<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <app-basic-button-group />
    </div>
    <div class="col-12">
      <app-edge-button-group />
    </div>
    <div class="col-12">
      <app-flat-button-group />
    </div>
    <div class="col-12">
      <app-large-button-group />
    </div>
    <div class="col-12">
      <app-large-edges-button-group />
    </div>
    <div class="col-12">
      <app-outline-button-group />
    </div>
    <div class="col-12">
      <app-outline-custom-button-group />
    </div>
    <div class="col-12">
      <app-outline-custom-button-group2 />
    </div>
    <div class="col-12">
      <app-outline-button-group />
    </div>
    <div class="col-12">
      <app-outline-edges-button />
    </div>
    <div class="col-12">
      <app-outline-flat-button />
    </div>
    <div class="col-12">
      <app-radio-button-group />
    </div>
    <div class="col-12">
      <app-checkbox-button-group />
    </div>
    <div class="col-lg-6">
      <app-nesting />
    </div>
    <div class="col-lg-6">
      <app-vertical />
    </div>
  </div>
</div>
