<div
  class="tab-pane fade active show"
  id="pills-created"
  role="tabpanel"
  aria-labelledby="pills-created-tab"
>
  <div class="card mb-0">
    <div
      class="card-header d-flex"
      [ngClass]="gettaskData.data.length > 0 ? 'card-no-border pb-0' : ''"
    >
      <h3 class="mb-0">{{ gettaskData.title }}</h3>
      <ng-template #other>
        <h3 class="mb-0">{{ gettaskData.title }}</h3>
      </ng-template>
      <a href="javascript:void(0)">
        <app-feathericon [icon]="'printer'" class="me-2" />
        Print
      </a>
    </div>
    <div class="card-body p-0">
      <div class="taskadd">
        <div class="table-responsive">
          <table class="table">
            <tbody>
              @if (gettaskData.data.length === 0) {
              <tr>
                <div class="card-body">
                  <div class="details-bookmark text-center">
                    <span>No tasks found.</span>
                  </div>
                </div>
              </tr>
              } @for (task of gettaskData.data; track task) {
              <tr>
                <td>
                  <h3 class="task_title_0">{{ task.title }}</h3>
                  <p class="project_name_0">{{ task.subtitle }}</p>
                </td>
                <td>
                  <p class="task_desc_0">{{ task.text }}</p>
                </td>
                <td>
                  <a class="me-2" href="javascript:void(0)">
                    <app-feathericon [icon]="'link'" />
                  </a>
                  <a href="javascript:void(0)">
                    <app-feathericon [icon]="'more-horizontal'" />
                  </a>
                </td>
                <td>
                  <a href="javascript:void(0)">
                    <app-feathericon [icon]="'trash-2'" />
                  </a>
                </td>
              </tr>
              }
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
