<div class="container-fluid">
  <div class="row">
    <div class="col-xxl-3 col-xl-4 box-col-4e">
      <app-job-filter />
    </div>
    <div class="col-xxl-9 col-xl-8 box-col-8">
      <div class="card">
        <div class="job-search">
          <div class="card-body">
            <div class="d-flex">
              <img
                class="img-40 img-fluid m-r-20"
                src="assets/images/job-search/1.jpg"
                alt=""
              />
              <div class="flex-grow-1">
                <h6 class="f-w-600">
                  <a href="javascript:void(0)"
                    >Product Designer (UI/UX Designer)</a
                  ><span class="pull-right">
                    <button class="btn btn-primary" type="button">
                      Apply
                    </button></span
                  >
                </h6>
                <p>
                  Endless - United States<span>
                    <i class="fa fa-star font-warning"></i>
                    <i class="fa fa-star font-warning"></i>
                    <i class="fa fa-star font-warning"></i>
                    <i class="fa fa-star font-warning-half-o"></i>
                    <i class="fa fa-star font-warning-o"></i>
                  </span>
                </p>
              </div>
            </div>
            @for (allData of jobDetail | slice: 0 : 4; track allData) {
            <div class="job-description">
              <h3>{{ allData.title }}</h3>
              @if (allData.liClass === true) {
              <ul>
                @for (data of allData.data; track data) {
                <li>{{ data.desctiption }}</li>
                }
              </ul>
              } @else { @for (data of allData.data; track data) {
              <li>{{ data.desctiption }}</li>
              } }
            </div>
            }
            <div class="job-description">
              <button
                class="btn btn-primary"
                type="button"
                style="margin-right: 4px"
              >
                <span><i class="fa fa-check"></i></span> Save this job
              </button>
              <button class="btn btn-primary" type="button">
                <span><i class="fa fa-share-alt"></i></span> Share
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="header-faq">
        <h3 class="mb-0">Similar jobs</h3>
      </div>
      <div class="row">
        <app-job-similer />
      </div>
    </div>
  </div>
</div>
