<div class="container-fluid ecommerce-dashboard">
  <div class="row bg-light p-4 mb-4">
    <app-top-ecommerce />
  </div>
  <div class="row">
    <div class="col-xl-3 col-xl-50 box-col-6 proorder-xl-1">
      <app-sale-top-countries />
    </div>
    <div class="col-xl-6 col-xl-100 box-col-12 proorder-xl-3">
      <app-ecommerce-recent-order />
    </div>
    <div class="col-xl-3 col-xl-50 box-col-6 proorder-xl-2">
      <app-categories-sales />
    </div>
    <div class="row pe-0 proorder-xl-4">
      <div class="col-xl-5 col-xl-100 box-col-12">
        <app-ecommerce-sale-statistic />
        <div class="row">
          <div class="col-xl-12">
            <div class="row">
              <div div class="col-md-7">
                <app-ecommerce-order-overview />
              </div>
              <div class="col-md-5">
                <div class="row">
                  <div class="col-xl-12">
                    <app-ecommerce-monthly-sale />
                  </div>
                  <div class="col-xl-12">
                    <app-ecommerce-invoices />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-7 col-xl-100 box-col-12">
        <div class="row">
          <div class="col-xl-12 pe-0">
            <div class="card unlock">
              <div class="card-body">
                <div class="d-flex">
                  <p>
                    Unlock Machine Learning insights below. try our premium
                    service for 1 month free!
                  </p>
                  <button class="btn btn-primary">UNLOCK</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xl-12">
            <div class="row">
              <div class="col-lg-5">
                <app-recent-activity />
              </div>
              <div class="col-lg-7">
                <div class="row">
                  <div class="col-xl-12 pe-0">
                    <app-new-customers />
                  </div>
                  <div class="col-xl-12 pe-0">
                    <app-deal-of-day />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
