<div class="card">
  <div class="card-header">
    <h3>Activity Log</h3>
  </div>
  <div class="card-body">
    <div class="activity-log">
      @for (data of activityLogData; track data) {
      <div class="my-activity">
        <h4 class="f-w-700 mb-3">{{ data.title }}</h4>
        @for (alldata of data.data; track alldata) {
        <p>
          <span>
            <app-feathericon [icon]="alldata.icon" class="m-r-20" />
          </span>
          {{ alldata.data }}
        </p>
        }
      </div>
      }
    </div>
  </div>
</div>
