<div class="container-fluid">
  <div class="row">
    <div class="col-xl-6 col-md-12 col-sm-12 box-col-6">
      <app-advanced-smil />
    </div>
    <div class="col-xl-6 col-md-12 col-sm-12 box-col-6">
      <app-svg-path />
    </div>
    <div class="col-xl-6 col-md-12 col-sm-12 box-col-6">
      <app-donut-svg-animate />
    </div>
    <div class="col-xl-6 col-md-12 col-sm-12 box-col-6">
      <app-bi-polar-line-chart-area />
    </div>
    <div class="col-xl-6 col-md-12 col-sm-12 box-col-6">
      <app-line-chart-area />
    </div>
    <div class="col-xl-6 col-md-12 col-sm-12 box-col-6">
      <app-bi-polar-bar-chart />
    </div>
    <div class="col-xl-6 col-md-12 col-sm-12 box-col-6">
      <app-stacked-bar-chart />
    </div>
    <div class="col-xl-6 col-md-12 col-sm-12 box-col-6">
      <app-horizontal-bar-chart />
    </div>
    <div class="col-xl-6 col-md-12 col-sm-12 box-col-6">
      <app-extreme-responsive-configuration />
    </div>
    <div class="col-xl-6 col-md-12 col-sm-12 box-col-6">
      <app-simple-line-chart />
    </div>
    <div class="col-xl-6 col-md-12 col-sm-12 box-col-6">
      <app-holes-in-data />
    </div>
    <div class="col-xl-6 col-md-12 col-sm-12 box-col-6">
      <app-filled-holes-in-data />
    </div>
  </div>
</div>
