<div class="header-faq">
  <h3 class="mb-0">Browse articles by category</h3>
</div>
<div class="row">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-header">
        <h3>Browse Articles</h3>
      </div>
      <div class="card-body">
        <div class="row browse g-sm-4 g-3">
          @for (allData of browseArticlesData; track allData) {
          <div class="{{ allData.colClass }}">
            <div class="browse-articles">
              <h4>
                <span> <app-feathericon [icon]="allData.titleIcon" /> </span>{{
                allData.title }}
              </h4>
              <ul>
                @for (points of allData.data; track points) {
                <li>
                  <a href="javascript:void(0)">
                    <span>
                      <app-feathericon [icon]="'file-text'" />
                    </span>
                    <span>{{ points.listData }}</span>
                    @if (points.tag === true) {
                    <span class="badge badge-primary pull-right"
                      >{{ points.tagTitle }}</span
                    >
                    }
                  </a>
                </li>
                }
                <li>
                  <a class="f-w-600 font-primary" href="javascript:void(0)"
                    ><span>
                      <app-feathericon [icon]="'arrow-right'" />
                    </span>
                    <span> See More ({{ allData.seeMore }}) </span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          }
        </div>
      </div>
    </div>
  </div>
</div>
