<div class="d-flex align-items-center profile-media">
  <img class="b-r-10 img-40" src="assets/images/dashboard/profile.png" alt="" />
  <div class="flex-grow-1">
    <span>Helen Walter</span>
    <p class="mb-0">Admin <i class="middle fa fa-angle-down"></i></p>
  </div>
</div>
<ul class="profile-dropdown onhover-show-div">
  <li>
    <a [routerLink]="'/user/profile-edit'">
      <app-feathericon [icon]="'user'" /><span>Account </span>
    </a>
  </li>
  <li>
    <a [routerLink]="'/email/email-app'">
      <app-feathericon [icon]="'mail'" /><span>Inbox</span>
    </a>
  </li>
  <li>
    <a [routerLink]="'/task'">
      <app-feathericon [icon]="'file-text'" />
      <span>Taskboard</span>
    </a>
  </li>
  <li>
    <a [routerLink]="'/user/profile-edit'">
      <app-feathericon [icon]="'settings'" />
      <span>Settings</span>
    </a>
  </li>
  <li>
    <a (click)="logOut()">
      <app-feathericon [icon]="'log-in'" />
      <span>Log in</span>
    </a>
  </li>
</ul>
