<div class="notification-box">
  <svg>
    <use href="assets/svg/icon-sprite.svg#fill-Bell"></use>
  </svg>
</div>
<div class="onhover-show-div notification-dropdown">
  <h6 class="f-18 mb-0 dropdown-title">Notitications</h6>
  <ul>
    <li class="b-l-primary bg-light-primary border-4 mt-3">
      <p class="font-primary">
        Delivery processing <span class="font-primary">10 min.</span>
      </p>
    </li>
    <li class="b-l-secondary bg-light-secondary border-4 mt-3">
      <p class="font-secondary">
        Order Complete<span class="font-secondary">1 hr</span>
      </p>
    </li>
    <li class="b-l-success bg-light-success border-4 mt-3">
      <p class="font-success">
        Tickets Generated<span class="font-success">3 hr</span>
      </p>
    </li>
    <li class="b-l-info bg-light-info border-4 mt-3">
      <p class="font-info">
        Delivery Complete<span class="font-info">6 hr</span>
      </p>
    </li>
    <li><a class="f-w-700" href="javascript:void(0);">Check all</a></li>
  </ul>
</div>
