<div class="container-fluid grid-wrrapper">
  <div class="row">
    <div class="col-sm-12">
      <app-grid-options />
    </div>
    <div class="col-sm-12">
      <app-grid-column />
    </div>
    <div class="col-sm-12">
      <app-vertical-alignment />
    </div>
    <div class="col-sm-12">
      <app-horizontal-alignment />
    </div>
    <div class="col-sm-12">
      <app-nesting />
    </div>
    <div class="col-sm-12">
      <app-order />
    </div>
    <div class="col-sm-12">
      <app-offset />
    </div>
  </div>
</div>
