<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header pb-0">
          <h3>Styles in borders</h3>
          <p class="f-m-light mt-1">
            Use the different styles of borders like:
            <code>border radius/border-color/border-width</code>. Use of any
            components.
          </p>
        </div>
        <app-border-stryle />
      </div>
    </div>
    <div class="col-12">
      <div class="card">
        <div class="card-header pb-0">
          <h3>Borders and displays</h3>
          <p class="f-m-light mt-1">
            Use border utilities to add or remove an element's borders.
          </p>
        </div>
        <app-borders-displays />
      </div>
    </div>
    <div class="col-12">
      <div class="card">
        <div class="card-header pb-0">
          <h3>Background colors</h3>
          <p class="f-m-light mt-1">
            Use the <code>.bg-* </code>and <code>.alert-light-* </code>colors in
            cuba theme. Use of any components.
          </p>
        </div>
        <app-background-colors />
      </div>
    </div>
    <div class="col-12">
      <app-border-color />
    </div>
    <div class="col-xl-6">
      <app-images-sizes />
    </div>
    <div class="col-xl-6">
      <app-font-style />
    </div>
    <div class="col-xl-6">
      <app-font-wieghts />
    </div>
    <div class="col-xl-6">
      <app-text-colors />
    </div>
    <div class="col-12">
      <app-font-sizes />
    </div>
  </div>
</div>
