<div class="container-fluid">
  <div class="row">
    <div class="col-xl-4 col-md-12 box-col-4">
      <app-total-sale />
    </div>
    <div class="col-xl-4 col-md-12 box-col-4">
      <app-total-project />
    </div>
    <div class="col-xl-4 col-md-12 box-col-4">
      <app-total-product />
    </div>
  </div>
  <div class="row">
    <div class="col-xl-6 col-lg-12 box-col-6 xl-50">
      <app-project-created />
    </div>
    <div class="col-xl-6 col-lg-12 box-col-6 xl-50">
      <app-widget-sales-overview />
    </div>
    <div class="col-md-12 box-col-12">
      <app-monthly-history />
    </div>
  </div>
  <div class="row">
    <div class="xl-50 col-xl-7 col-lg-12">
      <app-live-products />
    </div>
    <div class="xl-50 col-xl-5 col-lg-12">
      <app-turn-over />
    </div>
    <div class="xl-50 col-xl-6 col-lg-12">
      <app-cryptocurrency-prices />
    </div>
    <div class="xl-50 col-xl-6 col-lg-12">
      <app-crypto-annotations />
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 box-col-12">
      <app-stock-market />
    </div>
    <div class="col-xl-5 col-lg-12 box-col-5">
      <app-finance />
    </div>
    <div class="col-xl-7 col-lg-12 box-col-7">
      <app-order-status />
    </div>
    <div class="xl-50 col-xl-5 col-lg-12 box-col-5">
      <app-monthly-sales />
    </div>
    <div class="xl-50 col-xl-7 col-lg-12 box-col-7">
      <app-uses />
    </div>
  </div>
</div>
