<div
  [ngClass]="navmenu.isDisplay ? 'page-header close_icon' : 'page-header'"
  [ngStyle]="{ display: hidenav.show ? 'none' : 'block' }"
>
  <div class="header-wrapper row m-0">
    <div class="header-logo-wrapper col-auto p-0">
      <div class="logo-wrapper">
        <a [routerLink]="['/dashboard/default']">
          <img
            class="img-fluid for-light"
            src="assets/images/logo/logo-1.png"
            alt=""
          />
          <img
            class="img-fluid for-dark"
            src="assets/images/logo/logo.png"
            alt=""
          />
        </a>
      </div>
      <div class="toggle-sidebar" (click)="openMenu()">
        <svg class="sidebar-toggle">
          <use href="assets/svg/icon-sprite.svg#stroke-animation"></use>
        </svg>
      </div>
    </div>
    <div
      class="left-header col-xxl-4 col-xl-5 col-auto box-col-5 horizontal-wrapper p-0"
    >
      <app-horizontal-header />
    </div>
    <div
      class="nav-right col-xxl-7 col-xl-7 col-auto box-col-7 pull-right right-header p-0 ms-auto"
    >
      <ul class="nav-menus" (clickOutside)="clickOutside()">
        <li class="serchinput">
          <div class="serchbox" (click)="openSearch()">
            <svg>
              <use href="assets/svg/icon-sprite.svg#fill-search"></use>
            </svg>
          </div>
          <div class="form-group search-form" [class.open]="open">
            <input
              class="demo-input Typeahead-input form-control-plaintext w-100"
              [(ngModel)]="text"
              [ngModelOptions]="{ standalone: true }"
              (keyup)="searchTerm(text)"
              type="text"
              placeholder="Search here..."
              name="q"
              title=""
              autocomplete="off"
            />
          </div>
        </li>
        <li>
          <app-search />
        </li>
        <li class="onhover-dropdown">
          <app-notification />
        </li>
        <li class="onhover-dropdown">
          <app-bookmark />
        </li>
        <li class="cart-nav onhover-dropdown">
          <app-cart />
        </li>
        <li class="message-box onhover-dropdown">
          <app-message />
        </li>
        <li>
          <app-theme />
        </li>
        <li class="language-nav" (click)="languageToggle()">
          <app-language />
        </li>
        <li class="profile-nav onhover-dropdown p-0">
          <app-profile />
        </li>
        @if (menuItems.length) {
        <div
          class="Typeahead-menu custom-scrollbar"
          [class.is-open]="searchResult"
          id="search-outer"
          [class.open]="open"
        >
          @for (menuItem of menuItems | slice: 0 : 8; track menuItem) {
          <div class="ProfileCard u-cf">
            <div class="ProfileCard-details">
              <div class="ProfileCard-realName">
                <a
                  [routerLink]="menuItem.path"
                  class="realname"
                  (click)="removeFix()"
                  >{{ menuItem.title }}</a
                >
                <div class="ProfileCard-avatar">
                  <app-svg-icon [icon]="menuItem.icon" />
                </div>
              </div>
            </div>
          </div>
          }
        </div>
        }
        <div class="Typeahead-menu is-open" [class.is-open]="searchResultEmpty">
          <div class="tt-dataset tt-dataset-0">
            <div class="EmptyMessage">Opps!! There are no result found.</div>
          </div>
        </div>
      </ul>
    </div>
  </div>
</div>
